@import "../scss/colors";
@import "../scss/base";

.footer {
   display: flex;
   justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgba(40, 39, 44, 1);

     .footerLogo {
       font-size: 2rem;
       font-weight: 800;
       text-decoration: none;
       color: $color-white;
       text-transform: uppercase;
       letter-spacing: 2px;
        span {
          color: $primary-color;
        }
     }

     .mediaFooter {
           display: flex;
           gap: 20px;
           font-size: 2rem;
            .fa-facebook {
              color: #3b5998;
            }
            .fa-twitter {
              color: rgb(29 161 242);
            }
            .fa-instagram {
              color: $color-white;
            }
     }

}